.containerTextosImputs {
    margin-top: 85px;
}

.container {
    display: grid;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    width: 641px;
}
  
#tituloTexto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
}
  
.bar {
    width: 620px;
    background-color: #9747FF;
}