.home {
    width: 43.04rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.topHome {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    height: 2rem;
    width: 43.04rem;
    border-radius: 0.5rem;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    margin-bottom: 1.25rem;
}

.topHome h2 {
    width: 8.88rem;
    height: 1.19rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.19rem;
    color: var(--color-grey-1);
}

.resume {
    width: 43.04rem;
    height: 2rem;
    left: 24rem;
    top: 9.68rem;
    margin-bottom: 1.56rem;
}

.resume h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.19rem;
    color: var(--color-grey-1);
}

.botoesHome button {
    box-sizing: border-box;
    width: 5.75rem;
    height: 3.13rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.63rem;
    background: #FFFFFF;
    border: 0.094rem solid var(--color-grey-5);
    border-radius: 0.5rem;
}

.botoesHome button:hover {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 0 0.88rem;
    gap: 0.63rem;
    background: var(--color-brand-3);
    border: 0.094rem solid var(--color-brand-1);
    border-radius: 0.5rem;
}

.render {
    display: flex;
    padding: 0.5rem;
    gap: 1.25rem;
    margin-top: 1.88rem;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.render div:hover {
    border: 0.094rem solid var(--color-brand-1);
    border-radius: 0.5rem;
}

.value {
    height: 1.06rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1.06rem;
    color: var(--color-grey-1);
}

.type {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.44rem 0.88rem;
    gap: 0.63rem;
    width: 4.25rem;
    height: 1.63rem;
    background: var(--color-grey-4);
    border-radius: 0.25rem;
    margin-left: 26.56rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.94rem;
}

.trash {
    display: inline-flex;
    height: 1.63rem;
    width: 1.77rem;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 0.094rem solid #F1F3F5;
    border-radius: 0.25rem;
}

.trash:hover {
    display: inline-flex;
    height: 1.63rem;
    width: 1.77rem;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: var(--color-grey-5);
    border: 0.094rem solid var(--color-grey-4);
    border-radius: 0.25rem;
}

.trash img {
    background-color: var(--color-gray-3);
}

.trash img:hover {
    background-color: var(--color-grey-2);
}

.soma {
    margin-top: 1.88rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.88rem 1rem;
    gap: 27.44rem;
    width: 43.2rem;
    height: 2.75rem;
    background: var(--color-grey-5);
    border: 0.094rem solid var(--color-grey-4);
    border-radius: 0.5rem;
}

.textoSoma {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1.06rem;
    color: var(--color-grey-1);
}

.valorSoma {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1.06rem;
    color: var(--color-grey-1);
}

.card {
    height: 2.63rem;
    width: 43.2rem;
    display: inline-flex;
    left: 0;
    top: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    justify-items: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
